<form method="post" enctype="multipart/form-data">
    <div class="container flex p-3 column">
        <label class="row m-1"  for="file">Choose CSV File</label>
        <input class="row m-1" type="file" id="file" name="file" class="form-control-file" required>
        <button type="submit" class="btn btn-primary m-1">Upload</button>
    </div>
</form>